/* 小屏幕单列布局 */
.post-entry {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0px;
}

/* 宽屏双列布局：将缩略图移到右侧 */
@media (min-width: 700px) {
    .post-entry {
        grid-template-columns: 3fr 2fr;
        /* 内容占3份，缩略图占2份 */
        grid-gap: 0px 10px;
    }
}

/* 缩略图 (Thumbnail) - 移动到右侧 */
.post-entry .entry-cover {
    grid-column: 2 / 3;
    /* 缩略图位于第二列 */
    grid-row: 1 / span 3;
    /* 跨越3行 */
    max-width: fit-content;
    margin: auto;
}

/* 标题 */
.post-entry .entry-header {
    grid-column: 1 / 2;
    /* 位于左侧 */
    align-self: start;
}

/* 内容 */
.post-entry .entry-content {
    grid-column: 1 / 2;
    /* 位于左侧 */
    align-self: center;
}

/* 页脚 */
.post-entry .entry-footer {
    grid-column: 1 / 2;
    /* 位于左侧 */
    align-self: end;
}